html { 
  background-image: url("../assets/white_background.jpg");
  background-size: 120% ;
  font-family: 'Open Sans', sans-serif;
}

h1{
  margin: 0 auto;
  display: inline-block;
  font-size: 80px;
  text-align: center;
  padding: 10px;
  color: #2f4f4f;
}

#board{
    width: 45%;
    margin: 0 auto;
    padding: 30px;
}

.col{
    display: inline-block;
    width: 14%;
    background: #6495ED;
}


.tile{
    text-align: center;
    margin: 2px;
    display: inline-block;
    width: 90%;
    height: 70px;
    border: 1px solid black;
    border-radius: 100%;
    vertical-align: top; 
    font-size: 80px;
    line-height: 150px;
}

.n{
    background: white;
}

.a{
    background: red;
}

.b{
    background: yellow;
}

.new {
  display: block; 
  width: 250px; 
  height: 60px; 
  padding: 100 10 10 10; 
  margin: 0 left;
  background: #2f4f4f;
  box-shadow: inset 0px 0px 6px #fff;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}

.new:hover{
    color: #52081E;
}




